@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Friendship';
    src: url('assets/FeelfreePersonalUseRegular-lg2Bw.ttf') format('truetype');
}

.friendship-font {
    font-family: 'Friendship', sans-serif;
}